body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E1F6F9;
  font-family: "Geologica";
}

input {
  background-color: #EEF9F9;
}

input::placeholder {
  font-family: "Geologica";
}

p {
  font-size: 20px;
}